:root {
  --red: rgb(186, 57, 79);
  --redHover: rgb(215, 71, 96);
  --blue: rgb(0, 114, 150);
  --blueHover: rgb(8, 150, 195);
  --green: rgb(27, 120, 59);
  --greenHover: rgb(42, 170, 86);
  --grey: rgb(102, 102, 102);
  --primary: #ade7e3;
  --darker: #89b6b3;
  --accent: #E89A97;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

p {
  line-height: 1.6em;
  padding: 0 0px 20px;
  text-align: left;
  color: #333333;
  margin: 0;
  margin-top: 15px;
}

button {
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 1em;
  margin: 0;
  padding: 0;
}

/* === Navigation === */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  
}

.nav ul {
  /* background: rgb(56, 62, 76); */
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
}

.nav li {
  margin: 0;
  margin-bottom: 1em;
}

.nav a {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid var(--primary);
  transition: background 300ms, font-weight 300ms;
}

.nav a:hover, .nav a:focus {
  background: var(--primary);
  box-shadow: 0 5px 10px -5px rgba(19, 102, 96, .5);
}

.active {
  background: var(--primary);
  font-weight: 600;
  /* box-shadow: 0 10px 5px -5px rgba(19, 102, 96, .5); */
}

/* === Hamburguer Btn */
.navToggle {
  display: none;
  background: var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  margin: 10px;
  padding: 10px;
}

.line {
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 1px;
  background-color: #333;
}

.line + .line {
  margin-top: 4px;
}

/* Media query for NAV @ 800px */
@media (max-width: 800px) {
  .nav {
    margin: 50px 10px 10px;
    overflow: hidden;
  }

  .nav ul {
    flex-direction: column;
    margin-top: -500px;
    transition: all 300ms ease-out;
    background: rgba(173, 231, 227, .2)
    /* border: 1px solid #333;
    border-radius: 2px; */
  }

  .nav li {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .nav a {
    padding: 10px;
    text-align: center;
    border-bottom: none;
  }

  .nav a:hover, .nav a:focus {
    font-weight: 600;
  }

  .active {
    font-weight: 600;
  }

  .navToggle {
    display: block;
  }

  .showNavUl {
    margin-top: 10px !important;
  }
}

/* === Navigation End === */
/* === Scroll To Top btn === */
.toTopBtn {
  position: fixed;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: all 500ms ease;
  display: none;
  z-index: 999;
}

.toTopBtn img {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
  cursor: pointer;
  transition: all 500ms ease;
}

.toTopBtn img:active {
  transform: scale(.9);
}

.show {
  display: flex;
}

/* === Hero === */
.hero {
  margin-top: 80px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 614px;
  background: #fff;
  /* background-image: url("../img/bg-1.jpg"); */
  background-repeat: no-repeat;
  background-position: top;
  /* background-attachment: fixed; */
  /* background-size: auto 100%; */
  background-size: cover;
}

.hero header {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.hero h1 {
  background-color: var(--primary);
  font-size: 3em;
  font-weight: 600;
  /* text-transform: uppercase; */
  padding: 10px 20px;
  margin: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
}

.hero header p {
  margin: 0;
  font-weight: 600;
  text-shadow: 1px 1px 0 #333;
  text-align: center;
  color: #fff;
}

.subtitle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.subtitle h3 {
  background: rgba(152, 221, 216, 1);
  background: var(--primary);
  margin: 5px;
  padding: 5px 10px;
  font-weight: 300;
}

.subtitle h3:first-of-type {
  background: none;
}

.subtitle h3 span {
  background: var(--primary);
  margin: 5px;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .hero {
    margin-top: 0;
    height: 100vh;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero header p {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 2em;
  }

  .hero header p {
    font-size: .8em;
  }
}

/* === Hero end === */
/* === About Section === */
.about {
  /* display: grid;
  grid-gap: 60px;
  margin: 0 10%; */
  margin: 2em;
  padding-top: 100px;
}

.section__header {
  display: grid;
  justify-items: stretch;
}

.section__header h2 {
  text-align: center;
  font-size: 2em;
  color: #666;
  padding-bottom: .5em;
  margin-bottom: 2em;
  position: relative;
}

.section__header h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--primary);
  bottom: 0;
  left: 0;
  right: 0;
}

.about__desc {
  font-size: 1.2em;
}

.about__desc_p {
  margin: 0;
  padding: 0 20%;
}

.about__desc_p + .about__desc_p {
  margin-top: 10px;
}

.mnc {
  box-shadow: 0 2px 0 0 var(--primary);
}

.pm {
  box-shadow: 0 2px 0 0 var(--accent);
}
/* === About CARDS=== */
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 360px));
  grid-gap: 30px;
  justify-items: center;
  justify-content: center;
}

.card {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_content {
  flex: 1;
  display: grid;
  padding: 20px 20px 30px;
  align-content: stretch;
  color: var(--grey);
}

.card_content h3 {
  font-weight: 700;
  margin: 0;
}

.card_content p {
  line-height: 1.6em;
  padding: 0 0px 20px;
  text-align: left;
  color: #333333;
  margin: 0;
  margin-top: 15px;
}

.card_content .btn {
  justify-self: center;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: background 200ms ease;
}

.green h3 {
  color: var(--green);
}

.btn-1 {
  background: var(--green);
}

.blue h3 {
  color: var(--blue);
}

.btn-2 {
  background: var(--blue);
}

.red h3 {
  color: var(--red);
}

.btn-3 {
  background: var(--red);
}

.btn:hover, .btn:focus {
  cursor: pointer;
}

.btn-1:hover, .btn-1:focus {
  background: var(--greenHover);
}

.btn-2:hover, .btn-2:focus {
  background: var(--blueHover);
}

.btn-3:hover, .btn-3:focus {
  background: var(--redHover);
}

/* === About COLS === */
.about__cols {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 600px));
  grid-template-areas: "col1 col2";
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  justify-items: center;
  justify-content: center;
}

.col {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.col_content {
  flex: 1;
  display: grid;
  padding: 20px 20px 30px;
  align-content: stretch;
  color: var(--grey);
}

.col-1 {
  grid-area: col1;
  position: relative;
}

.col-2 {
  grid-area: col2;
  position: relative;
}

.col img {
  width: 100%;
  margin: 1em 0 0;
}

.profile {
  align-self: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  background: url(/img/profile.jpg);
  background-size: cover;
  box-shadow: 0px 5px 15px #fff;
}

.col-2 .profile {
  background-position-x: 105%;
}

.col_content h3 {
  font-weight: 700;
  margin: 10px 0 20px;
  text-align: center;
}

.col_content p:last-of-type {
  margin-top: 0;
}

.col_content .btn {
  justify-self: end;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: var(--grey);
  border: 1px solid #ccc;
  transition: background 200ms ease;
}

.col_content .btn:hover, .col_content .btn:focus {
  background: #e6e6e6;
}

@media (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  .about__cards, .about__cols {
    grid-template-columns: minmax(200px, 400px);
    /* max-width: min-content; */
    margin: 0 30px 30px;
  }

  .about__cols {
    grid-template-columns: 1fr;
    grid-template-areas: "col1""col2";
    max-width: 100%;
    margin: 0 30px 30px;
  }
}

@media (max-width: 500px) {
  
}

.banner {
  width: 100%;
  display: grid;
  justify-items: center;

}

.banner h3 {
  font-size: 2em;
  margin: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  /* margin: 0 0 15px; */
  position: relative;
}

.banner span:first-of-type {
  color: var(--accent);
  text-shadow: 1px 1px 2px #666;
}

.banner span:last-of-type {
  color: var(--primary);
  text-shadow: 1px 1px 2px #666;
}

/* .banner h3::before {
  content: "";
  width: 5px;
  margin-right: 2em;
  padding-left: .7em;
  border-right: 1em solid var(--primary);
  box-shadow: -5px 0 0 0 var(--primary);
}

.banner h3::after {
  content: "";
  width: 5px;
  margin-left: 2em;
  padding-left: .7em;
  border-left: 1em solid var(--primary);
  box-shadow: 5px 0 0 0 var(--primary);
} */

@media (max-width: 800px) {
  .banner h3 {
    font-size: 1.5em;
    padding: 1em;
  }
}

/* === About Section END === */
/* === Services Section === */
.services {
  display: grid;
  justify-items: center;
  padding-top: 100px;
}

.services header {
  justify-self: stretch;
  margin: auto 2em;  
}


.services__cols {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 260px);
}

.services__cols .col_content {
  grid-template-rows: 1fr 3fr 1fr;
}

.services__cols h3 {
  font-weight: 700;
  text-align: left;
  color: #666;
  margin: 0 0 15px;
}

/* .services__cols p {
  padding: 10px 20px;
  margin: 0 0 15px;
} */
.services__cols button {
  justify-self: center;
  align-self: center;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: var(--grey);
  border: 1px solid #ccc;
  transition: background 200ms ease;
}

.services__cols button:hover, .services__cols button:focus {
  background: #e6e6e6;
}

.col-sm {
  align-items: center;
}

.col-big {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}

.col-big img {
  max-width: 100%;
}

.col-big h3 {
  margin-top: 20px;
  text-align: left;
}

.col-big p {
  padding: 0;
  margin: 0 0 10px;
}

.col-big_content {
  display: grid;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
}

.col-big button {
  margin-top: 15px;
  justify-self: start;
}

@media (max-width:1150px) {
  .services__cols {
    grid-template-columns: repeat(2, minmax(100px, 360px));
    padding: 10px;
    grid-gap: 30px;
  }
}

@media (max-width:600px) {
  .services__cols {
    grid-template-columns: minmax(260px, 400px);
    justify-items: center;
  }

  .col-sm {
    width: 100%;
  }
}

/* === Services section END === */
/* === Contact section === */
.contact {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 20px;
}

.contact header {
  justify-self: stretch;
  margin: 100px 2em 0;
  padding: 0 10px;
}

.contact header h2 {
  margin-top: 20px;
  font-size: 2em;
}

.contact .section__header p {
  justify-self: center;
  max-width: 800px;
  text-align: left;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 2em;
}

.contact form {
  justify-self: stretch;
  margin: auto 2em;
  padding: 0 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name     textarea"
    "email    textarea"
    "subject  textarea"
    "empty    submit";
  justify-items: stretch;
  margin-bottom: 60px;
}

.form_name {
  grid-area: name;
}

.form_email {
  grid-area: email;
}

.form_provincia {
  grid-area: subject;
}

form #name, form #email, form #subject, form textarea, form select {
  width: 100%;
}

form fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

form input, .form_provincia select {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgba(100, 100, 100, 0.1);
}

form label {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 20px;
}

form textarea {
  font-size: 1em;
  color: #333;
  justify-self: stretch;
  grid-area: textarea;
  border-radius: 5px;
  padding: 10px;
  background: rgba(100, 100, 100, 0.1);
  border: none;
}


form #submit {
  grid-area: submit;
  justify-self: start;
  background-color: var(--accent);
  color: #fff;
  border: 1px solid #fff;
  font-size: 1em;
  padding: 10px 40px;
  transition: background 200ms ease;
}

form #submit:hover, form #submit:focus {
  cursor: pointer;
  background: var(--grey);
}

form input::placeholder, form textarea::placeholder {
  color: #333;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media (max-width:800px) {
  .contact header {
    margin: 80px auto 0;
  }

  .contact header h2 {
    font-size: 1.5em;
  }

  .contact form {
    max-width: none;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "email"
      "subject"
      "textarea"
      "submit"
    ;
  }

  form textarea {
    min-height: 150px;
  }
}

/* === Contact section END === */
.footer {
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  display: grid;
  justify-items: center;
  background: #fff;
}

.footer_text p {
  color: #999;
  text-align: center;
}

.footer_text a {
  text-decoration: none;
  color: var(--grey);
  font-weight: 600;
  position: relative;
}

.footer_text a::after {
  content: "";
  height: 4px;
  background: var(--grey);
  position: absolute;
  width: 0%;
  bottom: -3px;
  left: 0;
  margin-top: 5px;
  transition: width 200ms ease-in;
}

.footer_text a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .footer {
    margin-top: 20px;
  }

  .footer_text p {
    margin: 0;
  }
}
